/* Remove list styling and set link properties */
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline-block;
    margin-right: 20px;
}

.navbar a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

/* Style the active link */
.navbar a.active {
    background-color: #007bff;
    color: #fff;
}

/* Style the hover effect */
.navbar a:hover {
    background-color: #007bff;
    color: #fff;
}

main {
    min-height: 75vh;
}

.page-header {
    margin-top: 5px;
    text-align: center;
    /* Center the text within the container */
}

/* Center the form on the page */
.auth_form {
    max-width: 400px;
    margin: 0 auto;
}

/* Style the form labels */
label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style the form inputs */
.auth-text,
.auth-password,
.auth-email {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Style the form submit button */
.auth-submit {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

/* Style the form submit button on hover */
.auth-submit:hover {
    background-color: #0062cc;
}

.account-links {
    margin: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.separator {
    margin: 0 10px;
}

.create-account,
.login-account {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}

.create-account:hover,
.login-account:hover {
    background-color: #0056b3;
    color: #fff;
}


/* Style for form elements */
#input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.route-input,
#route-submit {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
}

.route-input {
    width: 25%;
}

#route-submit {
    width: 15%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#route-submit:hover {
    background-color: #3e8e41;
}

.route-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.route-table th,
.route-table td {
    padding: 4px;
    border: 1px solid #ddd;
}

.route-table th {
    background-color: #4CAF50;
    color: white;
    text-align: left;
}

.route-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.route-delete {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    width: 100%;
}

.route-delete:hover {
    background-color: #d32f2f;
}

/* Set width to 100% and remove default border spacing */
.balances-table {
    width: 100%;
    border-collapse: collapse;
}

/* Style the table headers */
.balance-table-headers {
    background-color: #333;
    color: white;
    text-align: left;
}

.balance-table-headers th {
    padding: 12px;
}

/* Style the table rows */
.balances-table tr {
    border-bottom: 1px solid #ddd;
}

.balances-table tr:last-child {
    border-bottom: none;
}

/* Style the table cells */
.balances-table td {
    padding: 4px;
}

/* Style the update button */
.balances-table button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
}

#balance {
    min-width: 40px;
    min-height: 25px;
}

#booking-table {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .book-select {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  #book-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  
  #book-button:hover {
    background-color: #3e8e41;
  }
  